workflows/approval_gate.json
{
  "name": "approval_gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval_gate",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "WebhookApproval",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "message": "You are the safety and approval gate. Review the proposed plan and side effects. Decide if the action requires explicit approval. Respond with JSON: {approved: boolean, rationale: string, required_actions: array}.",
            "role": "system"
          },
          {
            "message": "{{$json.plan || $json.summary}}",
            "role": "user"
          }
        ],
        "temperature": 0.1
      },
      "id": "ApprovalAgent",
      "name": "Approval Agent",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [260, 200]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "options": {
          "responseCode": 200,
          "responseData": "allEntries"
        }
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [520, 200]
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {"node": "Approval Agent", "type": "main", "index": 0}
        ]
      ]
    },
    "Approval Agent": {
      "main": [
        [
          {"node": "Respond", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "executionTimeout": 600
  },
  "versionId": "approval-gate-n8n-export",
  "id": "approval_gate",
  "tags": []
}
