workflows/main_orchestrator.json
{
  "name": "main_orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "main_orchestrator",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "WebhookMain",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "message": "You are the orchestrator. Review the request envelope and craft a high level delivery plan, including required specialist lane (research, comms, ops, scheduling) and whether approval is needed before executing tools. Return JSON with plan, lane, needs_approval, and tool_suggestions (array).",
            "role": "system"
          },
          {
            "message": "{{$json.message}}",
            "role": "user"
          }
        ],
        "temperature": 0.3
      },
      "id": "Planner",
      "name": "Planner Agent",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [260, 200]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{ 'https://example.com/specialist/' + ($json.lane || 'comms') }}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={\n  \"message\": $json.message,\n  \"plan\": $json.plan || $json.data?.plan,\n  \"tool_suggestions\": $json.tool_suggestions || [],\n  \"needs_approval\": $json.needs_approval || false\n}"
      },
      "id": "DispatchSpecialist",
      "name": "Dispatch to Specialist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [520, 200]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { plan: $json.plan || $json.data?.plan, lane: $json.lane || $json.data?.lane, needs_approval: $json.needs_approval || false, tool_suggestions: $json.tool_suggestions || [], dispatched: true, downstream_status: $json.body || 'sent' } }];"
      },
      "id": "Finalize",
      "name": "Finalize Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [780, 200]
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {"node": "Planner Agent", "type": "main", "index": 0}
        ]
      ]
    },
    "Planner Agent": {
      "main": [
        [
          {"node": "Dispatch to Specialist", "type": "main", "index": 0}
        ]
      ]
    },
    "Dispatch to Specialist": {
      "main": [
        [
          {"node": "Finalize Response", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "executionTimeout": 900
  },
  "versionId": "main-orchestrator-n8n-export",
  "id": "main_orchestrator",
  "tags": []
}
