workflows/router.json
{
  "name": "router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "WebhookRouter",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "keepKeyMatches",
        "specifications": {
          "fieldsUi": {
            "field": [
              {"fieldName": "message", "dataType": "string"},
              {"fieldName": "channel", "dataType": "string"},
              {"fieldName": "side_effects", "dataType": "string"}
            ]
          }
        }
      },
      "id": "CleanEnvelope",
      "name": "Validate Envelope",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {
            "message": "You are the router. Classify the request intent (answer_question, draft_content, run_tooling, manage_project, triage) and suggest a specialist lane (research, product, operations, generalist). Return JSON with keys intent, specialist, risk_flags (array).",
            "role": "system"
          },
          {
            "message": "{{$json.message}}",
            "role": "user"
          }
        ],
        "temperature": 0.2
      },
      "id": "RouterAgent",
      "name": "AI Router",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    intent: $json.intent || $json.data?.intent || 'triage',\n    specialist: $json.specialist || $json.data?.specialist || 'generalist',\n    risk_flags: $json.risk_flags || $json.data?.risk_flags || [],\n    original: $json\n  }\n}];"
      },
      "id": "Normalize",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Validate Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Envelope": {
      "main": [
        [
          {
            "node": "AI Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Router": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC",
    "executionTimeout": 600
  },
  "versionId": "router-n8n-export",
  "id": "router",
  "tags": []
}
