workflows/specialist_research.json
{
  "name": "specialist_research",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "specialist/research", "options": {"responseMode": "lastNode"}},
      "id": "WebhookResearch",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 240]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {"message": "You are the research specialist. Extract key questions, sources to check, and propose tool usage (tool_collect_research). Provide JSON with findings, suggested_sources, and tool_invocations.", "role": "system"},
          {"message": "{{$json.message}}", "role": "user"}
        ],
        "temperature": 0.35
      },
      "id": "ResearchAgent",
      "name": "Research Agent",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [280, 240]
    },
    {
      "parameters": {"mode": "passThrough", "options": {"responseCode": 200, "responseData": "allEntries"}},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "Inbound Webhook": {"main": [[{"node": "Research Agent", "type": "main", "index": 0}]]},
    "Research Agent": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "UTC"},
  "versionId": "specialist-research-n8n-export",
  "id": "specialist_research",
  "tags": []
}
