workflows/specialist_ops.json
{
  "name": "specialist_ops",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "specialist/ops", "options": {"responseMode": "lastNode"}},
      "id": "WebhookOps",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 240]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {"message": "You are the operations specialist. Break the request into tasks, sequencing tool invocations (tool_create_task, tool_collect_research, tool_get_availability) as needed. Return JSON with work_breakdown, risk_items, and tool_invocations.", "role": "system"},
          {"message": "{{$json.message}}", "role": "user"}
        ],
        "temperature": 0.35
      },
      "id": "OpsAgent",
      "name": "Ops Agent",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [280, 240]
    },
    {
      "parameters": {"mode": "passThrough", "options": {"responseCode": 200, "responseData": "allEntries"}},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "Inbound Webhook": {"main": [[{"node": "Ops Agent", "type": "main", "index": 0}]]},
    "Ops Agent": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "UTC"},
  "versionId": "specialist-ops-n8n-export",
  "id": "specialist_ops",
  "tags": []
}
