workflows/specialist_scheduling.json
{
  "name": "specialist_scheduling",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "specialist/scheduling", "options": {"responseMode": "lastNode"}},
      "id": "WebhookScheduling",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 240]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4o-mini",
        "messages": [
          {"message": "You are the scheduling specialist. Extract attendees, time ranges, and constraints. Use tool_get_availability when calendars are required. Return JSON with summary, preferences, and tool_invocations.", "role": "system"},
          {"message": "{{$json.message}}", "role": "user"}
        ],
        "temperature": 0.35
      },
      "id": "SchedulingAgent",
      "name": "Scheduling Agent",
      "type": "n8n-nodes-base.openAIAssistant",
      "typeVersion": 1,
      "position": [280, 240]
    },
    {
      "parameters": {"mode": "passThrough", "options": {"responseCode": 200, "responseData": "allEntries"}},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [540, 240]
    }
  ],
  "connections": {
    "Inbound Webhook": {"main": [[{"node": "Scheduling Agent", "type": "main", "index": 0}]]},
    "Scheduling Agent": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "UTC"},
  "versionId": "specialist-scheduling-n8n-export",
  "id": "specialist_scheduling",
  "tags": []
}
